<!-- app/views/tasks/_form.html.erb -->
<%= form_with model: @task do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :details %><br>
    <%= f.text_area :details %>
  </p>
  <p>
    <%= f.label :completed %><br>
    <%= f.check_box :completed %>
  </p>
  <%= f.submit %>
<% end %>
